.product-card-container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 37px;
  margin-top: 59px;
}

.product-details-container  {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 20px;
  max-width: 650px;
  width: 100%;
}

.product-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.product-details-container .pricing {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-details-container .pricing div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-details-container .price {
  color: #215db5;
  font-size: 32px;
  font-weight: bold;
}
.product-details-container .original-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
}
.product-details-container .discount {
  background: #215db5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}
.product-details-container .reviews {
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}
.product-details-container .stars {
  color: orange;
}
.product-details-container .cta-text {
  margin: 10px 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2%;
}
.product-details-container .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.product-details-container button {
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 100%;
  border-radius: 4px;
}

.product-details-container .primary {
  background: #17696a;
  color: white;
}
.product-details-container .secondary {
  background: lightgray;
}
.product-details-container .info {
  background: #215db5;
  color: white;
  width: 100%;
  margin: 10px 0;
}
.product-details-container .pre-approved {
  border: 2px solid #215db5;
  color: #215db5;
  width: 100%;
  background: white;
}
.product-details-container .description {
  margin-top: 20px;
  text-align: left;
}
.product-details-container .features {
  text-align: left;
}
.product-details-container .features li {
  margin: 5px 0;
}

.responsive-vehicle-info {
  display: none;
}


@media screen and (max-width: 768px) {
  .product-card-container .container {
    flex-direction: column;
    gap: 20px;
    
  }
  .product-card-image {
    width: 100%;
  }
  .product-details-container {
    width: 100%;
  }
  .product-details-container .pricing {
    flex-direction: column;
    gap: 10px;
  }
  .product-details-container .pricing div {
    flex-direction: column;
    gap: 5px;
  }
  .product-details-container .cta-text {
    font-size: 16px;
  }
  .product-details-container .buttons {
    flex-direction: column;
    gap: 10px;
  }
  .product-details-container button {
    font-size: 20px;
  }
  .product-details-container .description {
    text-align: left;
  }
  .product-details-container .features {
    text-align: left;
  }
  .product-details-container .features li {
    margin: 5px 0;
  }
  .product-card-container .container {
    margin-top: 20px;
}
.product-details-container{
  display:none;
}
.responsive-vehicle-info {
  display: flex;
}
}