.brands-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.brands-list img {
    /* width: 80px; */
    height: 80px;
    object-fit: contain;
}

.brands {
    margin-bottom: 100px;
}
.brands .heading span.divider {
    width: 132px;
    height: 4px;
    background: #374151;
    display: block;
    border-radius: 100px;
}

@media screen and (max-width:768px){
    .brands{
        display: none;
    }
}