.pd-responsive-header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}
.pd-responsive-back-arrow {
    position: absolute;
    left: 15px;
    font-size: 24px;
    cursor: pointer;
}

.responsive-header-pd{
    padding:0 20px;
    display:none;
}

.pd-banner .pl-bg {
    height: 130px;
}
.pd-banner .pl-bg-content {
    gap: 10px;
}
@media screen  and (max-width:768px){
    .pd{
        display:none;
    }
    .responsive-header-pd{
        
        display:flex;
        
    }
    
}