.cta-ui {
  background-image: url("/src/Assets/Images/Home/footer-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 515px;
  display: flex;
  align-items: center;
  padding: 48px;
  border-radius: 10px;
  margin-bottom: 90px;
}

.cta-ui .cta-content {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.cta-ui .cta-content h2 {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
}

.cta-ui .cta-content p {
  margin: 0;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}

.cta-ui .cta-content a {
  width: fit-content;
  border-radius: 10px;
  border-width: 1px;
  gap: 16px;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #215db5;
  background: #ffffff;
  border: 1px solid #fafafa;
  margin-top: 30px;
}


@media screen and (max-width: 1300px) {
  .cta-ui {
    height: 450px;
    padding: 40px;
  }

  .cta-ui .cta-content h2 {
    font-size: 35px;
  }

  .cta-ui .cta-content p {
    font-size: 18px;
  }

  .cta-ui .cta-content a {
    padding: 10px 25px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .cta-ui {
    height: 400px;
    padding: 35px;
  }

  .cta-ui .cta-content h2 {
    font-size: 32px;
  }

  .cta-ui .cta-content p {
    font-size: 16px;
  }

  .cta-ui .cta-content a {
    padding: 9px 22px;
    font-size: 14px;
  }
}

@media screen and (max-width:768px) {
  .cta-ui{
    height: auto;
    padding: 24px;
  }
  .cta-ui .cta-content a {
    width: fit-content;
    border-radius: 10px;
    border-width: 1px;
    gap: 16px;
    padding: 8px 20px;
    display: flex
;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #215db5;
    background: #ffffff;
    border: 1px solid #fafafa;
    margin-top: 30px;
}
.cta-ui .cta-content h2 {
  font-size: 30px;
}
.cta-ui .cta-content p{
  font-size: 16px;
}

}