.popular-sales-ui {
    padding: 100px 0px;
}

.rv-product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px 40px;
    overflow-x: auto;
}

.rv-product-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rv-product-item .rv-product-image {
    width: 100%;
    height: 345px;
}

.rv-product-item .rv-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.rv-product-item .rv-product-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media screen and (max-width:768px){
    .popular-sales-ui {
        /* display: none; */
        padding: 50px 0;
    }
    .rv-product-list {
        display: grid
    ;
        grid-template-columns: 1fr 1fr;
        gap: 40px 20px;
        
    }
    .rv-product-item .rv-product-image {
        width: 100%;
        height: 245px;
    }
    .popular-sales-ui .heading{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }
    .popular-sales-ui .heading .divider{
        display:none;
    }
}

@media screen and (max-width:440px){
    

    .rv-product-list {
        display: grid
    ;
        grid-template-columns: 1fr;
        gap: 40px 20px;
        
    }
    .rv-product-item .rv-product-image {
        width: 100%;
        height: 305px;
    }
}
