header.home-header {
    padding: 22px 0px;
    background: #001B4C;
}

header.home-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-header .container {
    display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

header nav ul.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* header.home-header a img {
    mix-blend-mode: multiply;
} */

header nav ul.nav-list li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    color: #fff;
}

.home-search-bar{
    display:none;
    padding:20px;
}



.header-search-bar {
    display: flex
    ;
        align-items: center;
        border: 2px solid #ccc;
        width: 100%;
        max-width: 500px;
        border-radius: 7px;
  }
  
  .header-search-bar .header-search-icon {
    height: 53px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    padding: 10px;
}

.header-search-bar .header-search-icon {
    border-radius: 5px 0px 0px 5px;
}

  .header-search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    background: transparent;
  }
  
  .header-search-bar .header-search-input {
    background: #fff;
    height: 100%;
    border: 0;
    margin: 0px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
}

.header-search-bar .header-search-input input.p-autocomplete-input.p-inputtext.p-component {
    background: transparent;
    width: 100%;
}

.header-search-bar .header-search-input input{
    border: none;
    outline: none;
    box-shadow: none;
}

span.app-hamburger {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #215DB5;
    width: 45px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
}

.flyout-dialog {
    height: 100%;
    width: 60% !important;
    margin: 0;
    border-radius: 0px !important;
    max-height: 100%;
}

.flyout-dialog .p-dialog-header {
    border-radius: 0;
}

.flyout-dialog div#pr_id_2_content {
    border-radius: 0px;
}

.flyout-dialog nav ul.nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.flyout-dialog nav ul.nav-list li a {
    color: #000;
}



@media (min-width:769px) {
    span.app-hamburger,
    .header-search-bar.sm{
        display: none;
    }
}
  
@media (max-width: 768px) {
    
    header.home-header .container a, header.home-header .container nav,
    .header-search-bar.md {
        display: none;
    }

    .header-search-bar.sm {
        background: #FBFBFC;
        box-shadow: 0px 2px 4px 0px #00000014;
        border: 0px;
    }
    
    .header-search-bar.sm .header-search-icon {
        background: transparent;
    }
    
    .header-search-bar.sm .header-search-input {
        background: #FBFBFC;
    }

    header.home-header .container {
        gap: 15px;
    }

    header.home-header {
        background: #fff;
        padding-bottom: 0;
    }
    
    .search-page-container .heading h2 {
        font-size: 18px;
    }

    span.header-search-icon-last {
        padding: 0 15px;
    }
}