.home-banner {
  background-image: url("/src/Assets/Images/Home/banner-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-banner .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 123px 132px 160px 132px;
  margin: inherit;
  gap: 21px;
  max-width: 65%;
}

.home-banner .container h1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
  color: #fff;
  margin-top: 15px;
  text-align: center;

}

.home-banner .container p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 10px;
  text-wrap-style: balance;
  margin-top: 0px;
}

.home-banner .container a {
  width: fit-content;
  border-radius: 10px;
  border-width: 1px;
  gap: 16px;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  color: #001B4C;
  background: #ffffff;
  border: 1px solid #fafafa;
}

.rv-type-btn {
  margin-top: 35px;
}

.rv-type-btn a {
  width: 100% !important;
  justify-content: center;
  color: #001B4C !important;
}

.rv-type-btn a svg {
  filter: brightness(0) saturate(100%) invert(10%) sepia(22%) saturate(7498%) hue-rotate(208deg) brightness(94%) contrast(106%);
}

.banner-tab,
.banner-tab .p-tabview {
  background: #1f2937e8 !important;
}

.banner-tab {
  padding: 40px 47px;
  border-radius: 10px;
}

.banner-tab .p-tabview .p-tabview-nav-container,
.banner-tab .p-tabview .p-tabview-panels {
  background: transparent;
}

.banner-tab ul.p-tabview-nav {
  background: transparent;
  border-color: #00d97130;
  display: flex;
  justify-content: center;
}

.sell-rv-img {
  display: flex
;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.banner-tab ul.p-tabview-nav li.p-unselectable-text {
  background: transparent;
}

.banner-tab ul.p-tabview-nav li.p-unselectable-text a {
  background: transparent;
  border: 0;
  color: #fff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  padding: 16px 20px;
}

.banner-tab
  ul.p-tabview-nav
  li.p-unselectable-text.p-tabview-selected.p-highlight {
  border-bottom: 3px solid #00d971;
}

.banner-tab .rv-type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
  justify-content: center;
}

.banner-tab .rv-type-list .rv-type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(20% - 20px);
}

.banner-tab .rv-type-list .rv-type-item h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  letter-spacing: 1px;
  white-space: nowrap;
}

.banner-tab .rv-type-list .rv-type-item .rv-type-img {
  width: 81px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-tab .p-tabview {
  background: #00000000 !important;
}

.sell-rv-dialog iframe {
  width: 100%;
  height: 800px;
}

div#pr_id_231_content .tab-content iframe {
  width: 100%;
  height: 200px;
  overflow: auto;
}

.ghl-form-wrap {
  max-width: 500px !important;
}

.ghl-form-wrap form#_builder-form {
  max-width: 100% !important;
}

.tab-content iframe {
  width: 100%;
  height: 850px;
}
#_builder-form .fields-container {
  padding: 0px !important;
}
@media (max-width: 1300px) {
  .home-banner .container {
    max-width: 75%;
    padding: 100px 100px 140px 100px;
  }

  .home-banner .container h1 {
    font-size: 55px;
  }

  .home-banner .container p {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .home-banner .container {
    max-width: 75%;
    padding: 80px 80px 120px 80px;
  }

  .home-banner .container h1 {
    font-size: 45px;
  }

  .home-banner .container p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .home-banner .container {
    display: none;
  }
}
