  .search-bar {
    display: flex;
    align-items: center;
    max-height: 48px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-icon,
.scan-icon {
    width: 20px;
    height: 20px;
    color: #555;
    flex-shrink: 0;
    cursor: pointer;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 14px;
    background: transparent;
}

.autocomplete-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.autocomplete-item{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}


.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
}

.p-autocomplete input:focus,
.p-autocomplete:focus-within {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.search-reset-btn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  transition: color 0.2s ease;
}

.search-reset-btn:hover {
  color: #333;
}

.all-products .filter-aside .header-search-icon {
  background: transparent;
}

.all-products .filter-aside  .header-search-bar.md {
  background: #f9fafb;
  border: 0;
  border-radius: 0px;
}

.all-products .filter-aside .header-search-bar .header-search-input {
  background: transparent;
  padding: 0;
}

.all-products .filter-aside .header-search-bar.md span#pr_id_13 input.p-autocomplete-input.p-inputtext.p-component {
  padding-left: 0;
}
