.all-products-ui {
    margin-bottom: 110px;
}

.all-products-ui .all-products {
    display: flex;
    gap: 32px;
}


.all-products .all-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
}


.all-products-ui .products-result {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin: 45px 0px;
}

.all-products-ui .products-result p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.all-products-ui .products-result p span.text-muted {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #707070;
}

.all-products-ui .products-result .product-sort-by {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #6B7280;
}

.all-products-ui .products-result .product-sort-by select {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border: 0;
    padding: 0 5px 0px 0px;
    color: #1F2937;
}

.all-products-ui .products-result .product-sort-by select {
    border: none;
    outline: none;
}

.all-products-ui {
    margin-bottom: 110px;
}
.responsive-pd-header {
    display: none;
    
}

.responsive-pd-back-arrow {
    font-size: 20px;
    cursor: pointer;
}
.responsive-pd-title {
    font-size: 24px;
    font-weight: bold;
}
.responsive-pd-filter-icon {
    font-size: 20px;
    cursor: pointer;
}
.filter-buttons{
    display:flex;
    flex-direction: row !important;
    gap: 10px;
}
.filter-buttons button{
    padding:8px !important;
    
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    
    border-radius: 5px;
}
.filter-buttons .vic-info{
    padding:8px !important;
    margin:0;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    
    border-radius: 5px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size:12px;

    cursor: pointer;
    transition: background-color 0.3s;
  }

  .pagination-controls span{
    font-weight: 400;
    font-size: 12px;
  }
  
  .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-controls button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .pagination-controls span {
    font-size: 16px;
    font-weight: bold;
  }
  

.responsive-filter-dialog{
    width: 80vw;
}



@media screen and (max-width: 914px) {
    .filter-aside{
        display:none;
    }
    .all-products .all-products-list {
        grid-template-columns: 1fr 1fr;
    }
    .all-products-ui .products-result .product-sort-by {
        display: none;
    }
    .responsive-pd-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        
    }
    
}

@media screen and (max-width: 600px) {

    .responsive-filter-dialog{
        width: 100vw;
    }
    
}